/* You can add global styles to this file, and also import other style files */
:root{
    --white:#ffffff;
    --grey: #e5e5e5;
    --yellow: #fca311;
    --black: #000000;
    --darkblue: #14213d;
    --iceCold: #a0d2eb;
    --frezzePurple: #e5eaf5;
    --mediumPurple: #d0bdf4;
    --purplePain: #8458B3;
    --heavyPurple: #494d60;
    --mainFont: Luminari, fantasy ;
}


body{
    background-color: var(--heavyPurple);
    color: var(--iceCold);
    font-family: var(--mainFont);
}