<div class="navbar">
    <div class="Logo">
        <div><a routerLink="/list"><img  src="../../assets/img/Logo-white.png" alt=""></a></div>
    </div>
    <div class="nav">
        <a routerLink="/search">Search</a>
        <a routerLink="/list">List</a>
        <a routerLink="/login">Login</a>
        <!-- <div *ngIf="username?.isLoggedIn"> -->
            <a routerLink="/profile">Profile</a>
        <!-- </div> -->
        <!-- <div *ngIf="username?.isLoggedIn> -->
           <div (click)="openDialog()" href="">Logout</div>
        <!-- </div> -->
        <a href="">Sign In</a>
    </div>
</div>