<section class="header">
    <div class="logo-container">
        ProfilePic
    </div>
    <div class="profile-name">
        ProfileName
    </div>
</section>

<section class="navigation">
    <div id="overview">
        Overview
    </div>
    <div id="favourites">
        Favourites
    </div>
    <div id="anime-list">
        Anime List
    </div>
</section>


    <section class="activities">
        <div class="total-animes">
            Total Animes
        </div>
        <div class="days-watched">
            Days Watched
        </div>
        <div class="total-friends">
            Friends
        </div>
    </section>

