<section class="header">
    <div class="profile-name">
        <h1>{{profilename}}</h1>
    </div>
</section>

<section class="navigation">
    <div (click)="toggleTotalAnimesVisibility()" id="overview">
        Overview
    </div>
    <div (click)="toggleFavouriteAnimesVisibility()" id="favourites">
        Favourites
    </div>
    <div (click)="toggleAnimeListVisibility()" id="anime-list">
        Anime List
    </div>
</section>



<section class="activities">

    <!-- <div class="friends">
        <h2>Friends</h2>
    </div>  -->

    <div *ngIf="isTotalAnimesVisible" id="statistics">
        <div class="total-animes">
            <h2>Total Animes watched</h2>
        </div>
        <h2>{{totalAnimes}}</h2>
    </div>


    <div *ngIf="isFavouritesAnimesVisible" id="favourites">
        <h1>Favourites</h1>
        <div class="card-container">
            <app-card *ngFor="let Anime of detailedFavouriteList" [img]="Anime.data.images.jpg.image_url"
                [title]="Anime.data.title" [anime]="Anime"></app-card>
        </div>
    </div>


    <div *ngIf="isAnimeListVisible" id="anime-list">
        <h1>Finished Animes</h1>
        <div class="card-container">
            <app-card *ngFor="let Anime of detailedFinishedList" [img]="Anime.data.images.jpg.image_url"
                [title]="Anime.data.title" [anime]="Anime"></app-card>
        </div>

        <h1>Plan to Watch</h1>
        <div class="card-container">
            <app-card *ngFor="let Anime of detailedPlanToWatchList" [img]="Anime.data.images.jpg.image_url"
                [title]="Anime.data.title" [anime]="Anime"></app-card>
        </div>

        <h1>Animes Watching</h1>
        <div class="card-container">
            <app-card *ngFor="let Anime of detailedPlanToWatchList" [img]="Anime.data.images.jpg.image_url"
                [title]="Anime.data.title" [anime]="Anime"></app-card>
        </div>
    </div>
</section>