.header {
    display: flex;
    height: 250px;
    background-color: var(--orange);
    color: var(--white);
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1rem;
    padding: 1rem;
    padding-left: 10rem;
}

.navigation {
    display: flex;
    background-color: var(--light-orange);
    color: var(--white);
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;

    #overview,
    #favourites,
    #anime-list {
        &:hover {
            color: var(--orange);
            cursor: pointer;
        }
    }

}

.activities {
    display: flex;
    padding-top: 1rem;
    color: var(--orange);
    justify-content: space-around;
    padding: 5rem;

    #anime-list{
        flex-direction: row;
        }
    h2 {
        font-size: 1.8rem;
    }

    #statistics,
    #friends
     {
        display: flex;
        padding: 2rem;
        gap: 3rem;
        border: 3px solid var(--orange);
        border-radius: 3px;
        width: 45rem;
        height: 20rem;
        background-color: var(--light-orange);
        
        &#statistics {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            color: var(--white);
        }
    }
}



.profile-name {
    h1 {
        font-size: 3rem;
        font-weight: bold;
    }
}