<section class="header">
    <div class="profile-name">
        <h1>{{profilename}}</h1>
    </div>
</section>

<section class="navigation">
    <div (click)="toggleTotalAnimesVisibility()" id="overview">
        Overview
    </div>
    <div (click)="toggleFavouriteAnimesVisibility()" id="favourites">
        Favourites
    </div>
    <div (click)="toggleAnimeListVisibility()" id="anime-list">
        Anime List
    </div>
</section>



<section class="activities">

    <!-- <div class="friends">
        <h2>Friends</h2>
    </div>  -->

    <div *ngIf="isTotalAnimesVisible" id="statistics">
        <div class="total-animes">
            <h2>Total Animes watched</h2>
        </div>
        <h2>{{totalAnimes}}</h2>
    </div>

    <div *ngIf="isFavouritesAnimesVisible" id="favourites">
        <app-favourite-animes></app-favourite-animes>
    </div>

    <div *ngIf="isAnimeListVisible" id="anime-list">
        <div class="card-container">
            <app-finished-animes></app-finished-animes>
        </div>
        <div class="card-container">
            <app-plan-to-watch-animes></app-plan-to-watch-animes>
        </div>
        <div class="card-container">
            <app-animes-watching></app-animes-watching>
        </div>
    </div>


</section>