<div class="container">

    <section class="all-time-popular">
            <h2>All Time Popular</h2>
            <div class="card-container">
                <app-card *ngFor="let Anime of topAnimeList" [img]="Anime.images.jpg.image_url"
                [title]="Anime.title" [anime]="Anime"></app-card>
            </div>
        </section>
        
        
        <section class="upcoming-season">
            <h2>Current Season</h2>
            <div class="card-container">
                <app-card *ngFor="let Anime of currentAnimeSeasonList" [img]="Anime.images.jpg.image_url"
                [title]="Anime.title" [anime]="Anime"></app-card>
                
            </div>
        </section>
        
        
        <section class="upcoming-season">
            <h2>Upcoming Season</h2>
            <div class="card-container">
                <app-card *ngFor="let Anime of upcomingAnimeSeasonList" [img]="Anime.images.jpg.image_url"
                [title]="Anime.title" [anime]="Anime"></app-card>
            </div>
        </section>
    </div>



