.container{
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    flex-wrap: wrap;
}
.card-container{
    padding-top: 10px;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.header{
    top: 0;
    position: sticky;
}

h2{
    padding-top: 1rem;
    font-size: 3rem;
    color: var(--grey);
}