<div class="container">
    <div class="searchbar">
        <input [(ngModel)]="searchTerm" placeholder="Suche nach Anime">
        <button (click)="search()">Suchen</button>
    </div>

    <section class="searchResults">
        <div *ngIf="searchResults">
            <div class="card-container">
                <app-card *ngFor="let Anime of searchResults" [img]="Anime.images.jpg.image_url" [title]="Anime.title"
                    [anime]="Anime"></app-card>
            </div>
        </div>
    </section>
</div>